/Build/
/Configuration/
!Configuration/Development/*.yaml
!Configuration/*.yaml

/Data/
/Packages/
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat

.idea/

node_modules/

DistributionPackages/Custom.Template/Resources/Public/
!DistributionPackages/Custom.Template/Resources/Public/Images/

