{namespace f=Neos\FluidAdaptor\ViewHelpers}

<f:if condition="{news}">
    <f:comment>
    {news -> f:format.identifier()} VS {identifier}
        <f:form.hidden name="__method" value="PUT" />
    </f:comment>
    <h2>Update News</h2>
    <f:form action="update"
            controller="Backend"
            enctype="multipart/form-data"
            objectName="news"
            object="news">
        <fieldset class="neos-span5">

            <f:form.hidden property="identifier" value="{identifier}" />
            <div class="neos-control-group">
                <label class="neos-control-label" for="title">Title</label>
                <div class="neos-controls neos-controls-row">
                    <f:form.textfield property="title" id="title" class="neos-span12" value="{news.title}"/>
                </div>
            </div>
            <div class="neos-control-group">
                <label class="neos-control-label" for="description">Description</label>
                <div class="neos-controls neos-controls-row">
                    <f:form.textarea property="description" id="description" class="neos-span12" rows="5" value="{news.description}" />
                </div>
            </div>
            <div class="neos-control-group">
                <input type="submit" value="update" class="neos-button neos-button-primary"/>
            </div>
        </fieldset>
    </f:form>
</f:if>