{namespace f=Neos\FluidAdaptor\ViewHelpers}
<div class="neos-content neos-container-fluid">

	<div class="neos-row-fluid">
		<f:if condition="{news}">
			<div class="neos-span12">
				<h2>News List</h2>
				<table class="neos-table">
					<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{news}" as="news">
						<tr>
							<td>{news.title}</td>
							<td>{news.description -> f:format.raw()}</td>
                            <td>
                                <f:link.action
                                    action="edit"
                                    arguments="{news:news}"
                                    controller="Backend"
                                    package="Happy.Coding"
                            >edit</f:link.action></td>
                            <td>
                                <f:link.action
                                        action="delete"
                                        arguments="{news:news}"
                                        controller="Backend"
                                        package="Happy.Coding"
                                >delete</f:link.action></td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
		</f:if>

		<h2>Create News</h2>
		<f:form action="create"
				controller="Backend"
				enctype="multipart/form-data"
				name="news"
				object="news">
			<fieldset class="neos-span5">
				<div class="neos-control-group">
					<label class="neos-control-label" for="title">Title</label>
					<div class="neos-controls neos-controls-row">
						<f:form.textfield property="title" id="title" class="neos-span12"/>
					</div>
				</div>
				<div class="neos-control-group">
					<label class="neos-control-label" for="description">Description</label>
					<div class="neos-controls neos-controls-row">
						<f:form.textarea property="description" id="description" class="neos-span12" rows="5"/>
					</div>
				</div>
				<div class="neos-control-group">
					<input type="submit" value="save" class="neos-button neos-button-primary"/>
				</div>
			</fieldset>
		</f:form>

	</div>
</div>