@import 'tw-elements/dist/css/index.min.css';

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Kameron&display=swap');


@import '../Styles/_tailwind.pcss';
@import '../Styles/_base.pcss';
@import '../Styles/_layout.pcss';
@import '../Styles/_news.pcss';
@import '../Styles/_teaser.pcss';
@import '../Styles/_team.pcss';



