@utility animate {
  @apply transition duration-500 ease-in-out;
}


@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  /** use font @apply font-kameron */
  --font-kameron: 'Kameron', 'sans-serif';
  --font-mochiy: 'Mochiy+Pop+One', 'sans-serif';
  --font-comnis: 'Commissioner', 'sans-serif';
  --font-oswald: 'Oswald', 'sans-serif';


}


@variant dark (&:where(.dark, .dark *));