html {
    &:before {
        z-index: 999;
        content: 'DEVELOPMENT';
        width: 240px;
        padding: 16px;
        position: absolute;
        text-align: center;
        color: #fff;
        background: rgba(41, 172, 239, 0.56);
        position: fixed;
        top: 30px;
        left: -55px;
        transform: rotate(-45deg);
    }
    &:after {
        content: 'er';
        display: block;
        background-color: #222;
        border-radius: 4px 0 0 4px;
        box-sizing: border-box;
        height: 36px;
        width: 36px;
        padding: 3px 6px;
        position: fixed;
        right: 0;
        z-index: 99999;
        color: #fff;
        font-family: 'Courier New', monospace;
        text-align: center;
        font-size: 22px;
        bottom: 75px;
    }
}

@media (min-width: 20rem) {
    html:after {
        content: "XS";
        color: #c7c329;
    }
}

@media (min-width: 30rem) {
    html:after {
        content: "TY";
        color: #f0f;
        bottom: 40px;
    }
}

@media (min-width: 40rem) {
    html:after {
        content: "SM";
        color: #c839c5;
    }
}

@media (min-width: 48rem) {
    html:after {
        content: "MD";
        color: #00adfe;
    }
}

@media (min-width: 64rem) {
    html:after {
        content: "LG";
        color: #63ff56;
    }
}

@media (min-width: 80rem) {
    html:after {
        content: "XL";
        color: #aaaaaa;
    }
}

@media (min-width: 96rem) {
    html:after {
        content: "2XL";
        color: #aaaaaa;
    }
}

@media (min-width: 120rem) {
    html:after {
        content: "3XL";
        color: #aaaaaa;
    }
}


@media print {
    html {
        &:before,
        &:after {
            content: '';
        }

        .t3n__content-cache-debug-shelf {
            display: none;
        }
    }
}