
header {
    &.header {
        box-shadow: 1px 8px 20px 13px #7474741c;
    }
}

.logo {
    width: 100px;
    overflow: hidden;
}

.language-menu {
    .current {
        a {
            .language-menu-short {
                color: rgba(224, 90, 163, 0.62);
            }

        }
    }
}

main {
    min-height: 50vh;
    box-shadow: 2px 2px 10px 13px #7b7b7b82;
}

footer {
    @apply bg-grey-100 mt-8;
}
